.coming-soon-main {
  display: flex;
  align-items: center;
  padding-top: 2vh;
  padding-bottom: 2vh;

  @include mq-min(500px) {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
}

.coming-soon-main__inner {
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
  padding-left: ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
}
